.pw-reset, .update-user, .add-coupon, .edit-coupon {
  display: none;
}

.page-title {
  text-align: center;
}

.panel-img {
  text-align: center;
  opacity: .5;
}

.panel-img > img {
  height: 65vh;
}

.product-search {
  position: absolute;
  top: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 75px;
  background: #ffffff;
}

.product-search .btn-primary {
  margin-left: 10px;
}

.login-container {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.reg-container {
  position: absolute;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#regform {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.account-panel {
  position: absolute;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.background-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

#update-user, #add-coupon, #edit-coupon {
  background: #fff;
  width: 65%;
  position: relative;
  top: 10%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
}

.active-coupons {
  position: relative;
  top: -280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 30% 40%;
      grid-template-columns: 10% 10% 30% 40%;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  max-width: 550px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #696969;
          box-shadow: 5px 5px 5px #696969;
  padding: 20px;
}

.coupon-header {
  font-weight: bold;
}

.c-code {
  -ms-grid-column: 3;
  grid-column: 3;
}

.coupon-message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.edit-c, .delete-c {
  max-height: 38px;
}

.add-c {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}
/*# sourceMappingURL=styles.css.map */