$img: "../images";

.pw-reset, .update-user, .add-coupon, .edit-coupon, .upgrade-user {
  display: none;
}

.page-title{
  text-align: center;
}

.panel-img {
  text-align: center;
  opacity: .5;

  &> img{
    height: 65vh;
  }
}

.product-search {
  position: absolute;
  top: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 75px;
  background: #ffffff;

  .btn-primary {
    margin-left: 10px;
  }
}

.login-container {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#login {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.reg-container{
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#regform{
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.account-panel{
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  padding: 50px;
}

.background-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 , 0, 0, 0.75)
}

#update-user, #add-coupon, #edit-coupon, #upgrade-user{
  background: #fff;
  width: 65%;
  position: relative;
  top: 10%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
}

.active-coupons {
  position: relative;
  top: -280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 10% 30% 40%;
  column-gap: 15px;
  row-gap: 15px;
  max-width: 550px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #696969;
  padding: 20px;
}

.coupon-header{
  font-weight: bold;
}

.c-code{
  grid-column: 3;
}

.coupon-message{
  grid-column: 1 / span 4;
}

.edit-c, .delete-c {
  max-height: 38px;
}

.add-c{
  grid-column: 1 / span 4;
}

.right-panel{
  position: absolute;
  right: 5%;
}

.centered{
  text-align: center;
}

#cc-not-valid, #exp-not-valid, #cvv-not-valid{
  display: none;
}