$img: "../images";

.pw-reset {
  display: none;
}

.update-user{
  display: none;
}

.page-title{
  text-align: center;
}

.panel-img {
  text-align: center;
  opacity: .5;

  &> img{
    height: 65vh;
  }
}

.product-search {
  position: absolute;
  top: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 75px;
  background: #ffffff;

  .btn-primary {
    margin-left: 10px;
  }
}